<div class="container">
  <div class="row" *ngIf="isforecastDataReady">
    <div *ngFor="let day of forecast; let lastDay=last">
    <div class="col-md-3 text-center day" [class.noBorder]="lastDay">
       <h4> {{day.dt * 1000 | date }} </h4><br/>
        <img width=150 height=150 [src]='"http://openweathermap.org/img/w/"+day.weather[0].icon+".png"'> <br/>
        <h3>{{day.weather[0].main}}</h3> <br/>
        <h4>{{day.weather[0].description}} </h4><br/>
        <div  class="conditionType" style="display:inline-block">
       <img src="../assets/temperature-icon.png" width="25px" height="25px"> {{day.main.temp-273 | number: '2.0-1'}}F 
       </div>
       <div class="conditionType" style="display:inline-block">
        <img src="../assets/humidity.png" width="25px" height="25px">{{day.main.humidity}}%
        </div>
        <div style="display:inline-block" class="conditionType">
        <img src="../assets/wind.png" width="25px" height="25x">{{day.wind.speed}}km/h
        </div>
    </div>
    </div>
  </div>
</div>